<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:sec="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--    <script type="text/javascript" src="..static/css/js/main.js" th:src="@{/css/js/main.js}"></script>-->
<!--    <script type="text/javascript" src="..static/css/js/delete.js" th:src="@{/css/js/deleteUser.js}"></script>-->
    <title>Task 3-1-4</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Task 3-1-4</h3>
        </div>
        <ul class="list-unstyled components">
            <li>
                <a href="#">User</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <div class="container-fluid">

                <div>
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar </span>
                    </button>
                </div>

                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse text-left text-light" id="navbarSupportedContent" sec:authorize="isAuthenticated()">

                    <div class="navbar-brand" sec:authorize="isAuthenticated()">
                        User ID: <span sec:authentication="principal.id"></span>
                        Logged user: <span sec:authentication="name"></span>
                        Roles: <span sec:authentication="principal.authorities"></span>
                    </div>

                    <div class="navbar-nav ml-auto">
                        <a class="nav-link" href="/logout">Logout Page</a>
                    </div>

                </div>
            </div>
        </nav>

        <h3>User Panel</h3>

        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="card mt-3 tab-card">
                        <div class="card-header tab-card-header">
                            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">

                                <li class="nav-item">
                                    <a class="nav-link" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="One" aria-selected="true">Users Table</a>
                                </li>

                            </ul>
                        </div>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active p-3" id="one" role="tabpanel"
                                 aria-labelledby="one-tab">
                                <h5 class="card-title">The User</h5>
                                <table class="table table-bordered table-striped">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Login</th>
                                        <th>Password</th>
                                        <th>Role</th>
                                    </tr>
                                    <tr>
                                        <td><span sec:authentication="principal.id"></span></td>
                                        <td><span sec:authentication="name"></span></td>
                                        <td><span sec:authentication="principal.login"></span></td>
                                        <td><span sec:authentication="principal.password"></span></td>
                                        <td><span sec:authentication="principal.authorities"></span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>

</body>
</html>